
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <center><h2><strong>Category List</strong></h2></center>
    <center>
        @Html.ActionLink("SouthIndian Food", "GEtAllSouthIndianfood")
        <br />
        @Html.ActionLink("NorthIndiain Food", "GetAllNorthIndianfood")
        <br />
        @Html.ActionLink("Chinese Food", "Chinese")
        <br />
        @Html.ActionLink("Deserts", "Deserts")
        <br />
        @Html.ActionLink("Beverages", "Beverages")

       <br />
       <p>
           @Session["Email"].ToString()
       </p>

    </center>
</div>


